@model ASP_Cinema.Models.DiffusionDetailsViewModel

<div>
    <h4>DiffusionDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Diffusion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Diffusion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiffusionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiffusionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioLang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioLang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTitleLang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTitleLang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_CinemaRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_CinemaRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Movie)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
